@page
@model HospitalEnCasa.App.FrontEnd.Pages.ListPacienteModel
@{
}
<h1>Gestionar Paciente</h1>
<p>En está pagina podrás gestionar los pacientes</p>
<a class="btn btn-primary table-btn" asp-page="./Addpaciente">Agregar Paciente</a>
<table class="table table-dark">
<tr>
    <th scope="col">Cedula</th>
    <th scope="col">Nombre</th>
    <th scope="col">Genero</th>
    <th scope="col">Edad</th>
    <th scope="col">Dirección</th>
    <th scope="col">Longitud</th>
    <th scope="col">Latitud</th>
    <th scope="col">Familiar designado</th>
    <th scope="col">Médico</th>
    <th scope="col">Enfermera</th>
</tr>
@foreach(var paciente in Model.pacientes){
    <tr>
        <td>@paciente.cedula</td>
        <td>@paciente.nombre</td>
        <td>@paciente.genero</td>
        <td>@paciente.edad</td>
        <td>@paciente.direccion</td>
        <td>@paciente.longitud</td>
        <td>@paciente.latitud</td>
        <td>@paciente.familiar.nombre</td>
        <td>@paciente.medico.nombre</td>
        <td>@paciente.enfermera.nombre</td>
        <td><a class="btn btn-primary table-btn" asp-page="./Detailpaciente" asp-route-cedula="@paciente.cedula">Detalles</a><br>
        <a class="btn btn-primary table-btn" asp-page="./Editpaciente" asp-route-cedula="@paciente.cedula">Editar</a><br>
        <a class="btn btn-primary table-btn" asp-page="./Removepaciente" asp-route-cedula="@paciente.cedula">Eliminar</a>
        <br>
    </tr>
}
</table>