@page
@model HospitalEnCasa.App.FrontEnd.Pages.DetailHistoriaModel
@{
}
<h1>Detalle historia</h1>
<h2>Paciente: @Model.Historia.anotaciones[0].paciente.nombre</h2>
<p>A continuación podrá ver las anotaciones del paciente</p>
<table class="table">
    <tr>
        <th>Fecha</th>
        <th>Médico</th>
        <th>Enfermera</th>
        <th>Nivel de azucar</th>
        <th>Presión</th>
        <th>Pulso cardiaco</th>
        <th>Observacion</th>
    </tr>
    @foreach(var anotacion in @Model.Historia.anotaciones){
        <tr>
            <td>@anotacion.fecha</td>
            <td>@anotacion.medico.nombre</td>
            <td>@anotacion.enfermera.nombre</td>
            <td>@anotacion.signoVital.nivel_azucar</td>
            <td>@anotacion.signoVital.presion</td>
            <td>@anotacion.signoVital.pulso_cardiaco</td>
            <td>@anotacion.descripcion</td>
        </tr>
    }
</table>