@page
@model HospitalEnCasa.App.FrontEnd.Pages.DetalleMedicoModel
@{
}
<h1>Detalle del médico @Model.medico.nombre</h1>
<ul>
    <li>Cedula: @Model.medico.cedula</li>
    <li>Nombre: @Model.medico.nombre</li>
    <li>Edad: @Model.medico.edad</li>
    <li>Genero: @Model.medico.genero</li>
    <li>Hospital: @Model.medico.hospital</li>
    <li>Tarjeta: @Model.medico.tarjeta_profesional</li>
</ul>