@page
@model HospitalEnCasa.App.FrontEnd.Pages.VerEnfermeraModel
@{
}
<h1>Detalle de la enfermera @Model.enfermera.nombre</h1>
<ul>
    <li>Cedula: @Model.enfermera.cedula</li>
    <li>Nombre: @Model.enfermera.nombre</li>
    <li>Edad: @Model.enfermera.edad</li>
    <li>Genero: @Model.enfermera.genero</li>
    <li>Hospital: @Model.enfermera.hospital</li>
    <li>Información laboral: @Model.enfermera.informacion_laboral</li>
</ul>